body {
  background-color: #21344d;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #132046;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

main {
  padding: 2rem;
}

.intro {
  text-align: center;
  margin-bottom: 2rem;
}

.cards, .grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  background: #1e2a38;
  padding: 1rem;
  border-radius: 8px;
  min-width: 200px;
}
